In [167]:
import krakenex
import pandas as pd
import json
from datetime import datetime

In [150]:
kraken = krakenex.API()

In [151]:
cryptos = ['BTC', 'ETH']
currencies = ['USD', 'EUR']

In [156]:
def getTickers(pair):
    
    ohlc = kraken.query_public(
        'OHLC',
        {'pair': pair}
    )

    ticker = kraken.query_public(
        'Ticker',
        {'pair': pair}
    )

    return ohlc, ticker

In [157]:
pair = cryptos[1] + currencies[0]
data = getTickers(pair)

In [159]:
# data
pairname = list(data[0]['result'].keys())[0]

In [161]:
ohlc = data[0]['result'][pairname]

In [162]:
df = pd.DataFrame.from_records(
    ohlc,
    columns=[
        'time',
        'open',
        'high',
        'low',
        'close',
        'vwap',
        'volume',
        'count'
    ])

In [175]:
df['time'] = pd.to_datetime(df['time'], unit='s')

In [176]:
df

,time,open,high,low,close,vwap,volume,count
0,2022-11-01 02:10:00,1580.79,1580.79,1580.25,1580.72,1580.72,13.85359430,14
1,2022-11-01 02:11:00,1580.99,1580.99,1580.99,1580.99,1580.99,1.00000000,1
2,2022-11-01 02:12:00,1580.99,1580.99,1580.54,1580.54,1580.91,33.16200000,13
3,2022-11-01 02:13:00,1580.14,1580.16,1580.14,1580.16,1580.14,0.26030631,2
4,2022-11-01 02:14:00,1580.56,1581.00,1580.56,1581.00,1580.99,0.27987894,2
...,...,...,...,...,...,...,...,...
715,2022-11-01 14:05:00,1570.80,1570.80,1567.08,1569.00,1567.67,196.46884417,118
716,2022-11-01 14:06:00,1568.80,1568.80,1566.52,1566.69,1566.75,75.98959118,52
717,2022-11-01 14:07:00,1567.04,1569.32,1567.03,1567.38,1567.46,61.58116211,49
718,2022-11-01 14:08:00,1567.38,1568.61,1566.61,1568.61,1567.42,1.20330083,18
719,2022-11-01 14:09:00,1568.20,1568.97,1566.34,1568.97,1568.04,5.71878260,30